<template name="dashboard">
  {{#unless tasks}}
    <p class="lead">To get started, create some tasks.</p>
  {{/unless}}
  <table class="table" id="taskList">
    <tbody>
      {{#each tasks}}
      <tr data-id="{{_id}}" class="{{#if completed}}success{{/if}}">
        <td class="check"><i class="fa checkbox {{#if completed}}fa-check-square-o{{else}}fa-square-o{{/if}}"></i></td>
          <td class="title">{{title}}</td>
          <td class="delete"><i class="fa fa-trash-o"></i></td>
        </tr>
      {{/each}}
      <tr><td colspan="3">{{>taskFormTable}}</td></tr>
    </tbody>
  </table>
</template>
