@import "../../packages/bootstrap3-less/bootstrap.lessimport";
@import "variables.less";
@import "/packages/font-awesome-4-less/font-awesome.lessimport";

/* ==========================================================================
   Base
   ========================================================================== */
body { }

h1 { color: @brand-primary-dark; }

.form-control, button.btn, a.btn {
  border-radius: 0!important;
  padding: 20px 40px;
  height: auto;
  font-size: 150%;
}

/* =============================================================================
   Header
   ========================================================================== */
.page-header {
  text-align: center;
  margin-top: 0;
  padding: 10px;
  background: @brand-primary;
  overflow: hidden;
  .title {
    display: inline-block;
    h1 {
      font-size: 24px;
      display: block;
      margin: 0; padding: 0;
    }
    small {
      font-size: 18px;
      font-weight: 200;
      color: #fff;
      display: block;
      margin-left: 10px;
    }
  }

  button {
    color: #fff;
    padding: 5px 10px;
    background-color: #15987e;
    border-color: #0f705d;
    margin-top: 6px;
    i { pointer-events: none; }
  }
}

#nav-main {
  &.nav-justified {
    width: 100%;
    & > li {
      display: table-cell!important;
      width: 1%!important;
      float: none;

      a.active, a:hover, a:focus {
        color: #fff;
        background: @brand-primary;
      }
    }
  }
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid @gray-lighter;
}


/* ==========================================================================
   Content
   ========================================================================== */


/* ==========================================================================
   Templates
   ========================================================================== */
#task-form {
  input, select  {
    width: 100%;
    .box-sizing(border-box);
    margin-bottom: 10px;
  }
  .btn-group {
    width: 100%;
    button { width: 50%; }
  }
  
}

/* ==========================================================================
   Footer
   ========================================================================== */

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (min-width: @screen-sm) {
}

@media (min-width: @screen-md) {}

@media (min-width: @screen-lg) {}
